body{
    background-image: url(background2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1400px 660px;
}

/* Header hissesi*/
#CommonHeader{
    height: 100px;
    border-radius: 40px; 
} 

img{
   width: 70px;
   height: 70px;
   float: left;
   padding: 10px 0 0 20px;
}
img:hover{
    width: 75px;
    height: 75px;
    transition: 0.4s;
}

.Welcome{
    width: 150px;
    height: 70px;
    padding: 20px 0 0 0;
    float: left;
    text-shadow: 5px 3px 1px black;
    color:#fc0;
    font-size: 37px;
    font-weight: 800;
    text-decoration: none;
} 

.Welcome:hover{
    font-size: 41px;
    transition: 0.4s;
}

#Icon_Welcome{
    width: 260px;
    height: 95px;
    float: left;
    margin: 30px 0 0 40px;
    border-radius: 50%;
    background: #4b4b4b;
}


/* Main hisse*/

.order_div{
    width: 720px;
    height: 520px;
    color:#00bd58;
    background-image: url(https://st3.depositphotos.com/29179304/33207/v/600/depositphotos_332073646-stock-video-black-food-background-concept-design.jpg);
    background-size: 720px 520px;
    background-repeat: no-repeat;
    border: 5px double hsl(0, 0%, 59%);
    border-radius: 8px;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: -80px 0 0 470px;
}

input[type="text"]{
    width: 200px;
    height: 25px;
    color: #4b4b4b;
    background: #969696;
    margin: 30px 0 0 20px;
    border-radius: 5px;

}

input[type="text"]:hover{
    height: 25px;
    background: #1b1b1b;

}


::placeholder{
    color: #4b4b4b;
}

textarea{
    color: #4b4b4b;
    background: #969696;
    border-radius: 5px;
    margin: 10px 0 0 0;
}

textarea:hover{
    background: #1b1b1b;

}

input[type=button]{
    width: 300px;
    height: 35px;
    color: #4b4b4b;
    background: #00a44c;
    border-radius: 5px;
    font-size: 23px;
    font-weight: 800;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 30px 0 0 0;

}

input[type=button]:hover{
    border-radius: 20px;
    height: 40px;
    transition: 0.5s;
}